In [1]:
import pandas as pd 
import numpy as np

In [2]:
p = pd.read_csv('data/p.csv', sep = ';')
p

,Nick,Against,K,A,D,Diff,K/d,Tournament,Season,Stage,...,Rounds_win_rate,drp,svr,kpr,impact,Rating 2.0,MVPM,Team,Maps,Maps won
0,y9do,HvS,17,3,1,16,17.00,ANGRY.ORG,5,"""1/4""",...,0.909091,0.090909,0.91,0.309091,126.818182,2.51,0,RGG,1,1
1,dazz,RGG,16,2,3,13,5.33,Phygital,1,"""GroupStage""",...,1.000000,0.300000,0.70,0.320000,118.000000,2.35,1,DoG,1,1
2,invi,HvS,26,3,4,22,6.50,Minor x CyberStars,2,"""Group Stage""",...,0.888889,0.222222,0.78,0.288889,113.611111,2.26,0,HzN,1,1
3,reason,iNCO,15,7,4,11,3.75,Phygital,1,"""GroupStage""",...,1.000000,0.400000,0.60,0.300000,115.500000,2.26,1,SN,1,1
4,GentlemaN,RGG,14,5,3,11,4.67,Phygital,1,"""1/4""",...,1.000000,0.300000,0.70,0.280000,112.500000,2.22,1,SN,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3365,GliZZer,RGG,1,2,11,-10,0.09,ANGRY.ORG,5,"""1/4""",...,0.090909,1.000000,0.00,0.018182,7.272727,0.13,0,HvS,1,0
3366,Jodax,RGG,1,0,11,-10,0.09,ANGRY.ORG,5,"""1/4""",...,0.090909,1.000000,0.00,0.018182,4.545455,0.09,0,HvS,1,0
3367,Hush,SN,1,0,10,-9,0.10,ANGRY.ORG,5,"""1/2""",...,0.000000,1.000000,0.00,0.020000,5.000000,0.09,0,HRTG,1,0
3368,Lunax,DoG,0,4,10,-10,0.00,Phygital,1,"""GroupStage""",...,0.000000,1.000000,0.00,0.000000,6.000000,0.08,0,RGG,1,0
3369,sLv,HRTG,18,1,71,-53,0.25,Minor x CyberStars,2,"""Play-off""",...,0.448276,2.448276,-1.45,0.124138,-40.862069,-0.81,0,NCS,1,0

In [13]:
p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('K', ascending = False)
p1 = p1.loc[p['Tournament'] == 'Major2023', :].sort_values('K', ascending = False).reset_index(drop = True)[0:5]
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,D,K/D,SVR,KPR,Rating,Map,Against,Date
0,RGG,Lunax,24,9,2.67,0.47,1.41,1.88,Sakura,DoG,10.06.2023
1,RGG,fRONZES,24,9,2.67,0.47,1.41,1.88,Province,DoG,10.06.2023
2,E8,deserve,23,14,1.64,0.26,1.21,1.47,Breeze,STR8,07.06.2023
3,RGG,Lunax,21,10,2.10,0.38,1.31,1.68,Province,iNCO,08.06.2023
4,STR8,fLACSYS,21,11,1.91,0.42,1.11,1.52,Breeze,E8,07.06.2023

In [3]:
# SORTING BY RATING

p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('Rating 2.0', ascending = False).reset_index(drop = True)[0:5]
p1.index = p1.index + 1
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,D,K/D,SVR,KPR,Rating,Map,Against,Date
1,SN,SiD,18,5,3.60,0.62,1.38,2.04,Rust,iNCO,09.06.2023
2,HzN,Pronyx,13,4,3.25,0.60,1.30,2.01,Province,E8,09.06.2023
3,E8,deserve,17,6,2.83,0.45,1.55,2.00,Province,STR8,07.06.2023
4,HzN,Pronyx,11,2,5.50,0.80,1.10,1.96,Sakura,E8,09.06.2023
5,HzN,xZise,10,1,10.00,0.90,1.00,1.94,Sakura,E8,09.06.2023

In [4]:
p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('A', ascending = False).reset_index(drop = True)[0:5]
p1.index = p1.index + 1
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'A', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,A,D,K/D,SVR,KPR,Rating,Map,Against,Date
1,HzN,Nekr0,12,9,8,1.50,0.56,0.67,1.33,Breeze,STR8,11.06.2023
2,DoG,Kot,14,7,10,1.40,0.47,0.74,1.30,Sandstone,SN,11.06.2023
3,SN,reason,14,7,11,1.27,0.42,0.74,1.24,Sandstone,DoG,11.06.2023
4,SN,starfox,17,7,14,1.21,0.26,0.89,1.23,Sandstone,DoG,11.06.2023
5,E8,notbroken,13,7,12,1.08,0.37,0.68,1.14,Breeze,STR8,07.06.2023

In [5]:
p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('D', ascending = True).reset_index(drop = True)[0:5]
p1.index = p1.index + 1
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'A', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,A,D,K/D,SVR,KPR,Rating,Map,Against,Date
1,HzN,xZise,10,0,1,10.0,0.90,1.00,1.94,Sakura,E8,09.06.2023
2,HzN,Nekr0,5,1,1,5.0,0.90,0.50,1.49,Sakura,E8,09.06.2023
3,DoG,Kot,6,0,2,3.0,0.82,0.55,1.42,Sakura,iNCO,07.06.2023
4,HzN,Pronyx,11,1,2,5.5,0.80,1.10,1.96,Sakura,E8,09.06.2023
5,HzN,Nekr0,10,2,2,5.0,0.80,1.00,1.88,Province,E8,09.06.2023

In [8]:
# SORTING BY K/D
p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('K/d', ascending = False).reset_index(drop = True)[0:5]
p1.index = p1.index + 1
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'A', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,A,D,K/D,SVR,KPR,Rating,Map,Against,Date
1,HzN,xZise,10,0,1,10.0,0.9,1.0,1.94,Sakura,E8,09.06.2023
2,HzN,Pronyx,11,1,2,5.5,0.8,1.1,1.96,Sakura,E8,09.06.2023
3,HzN,Nekr0,5,1,1,5.0,0.9,0.5,1.49,Sakura,E8,09.06.2023
4,HzN,Nekr0,10,2,2,5.0,0.8,1.0,1.88,Province,E8,09.06.2023
5,HzN,Lighting,9,2,2,4.5,0.8,0.9,1.79,Province,E8,09.06.2023

In [10]:
p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('svr', ascending = False).reset_index(drop = True)[0:5]
p1.index = p1.index + 1
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'A', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,A,D,K/D,SVR,KPR,Rating,Map,Against,Date
1,HzN,Nekr0,5,1,1,5.0,0.90,0.50,1.49,Sakura,E8,09.06.2023
2,HzN,xZise,10,0,1,10.0,0.90,1.00,1.94,Sakura,E8,09.06.2023
3,DoG,Kot,6,0,2,3.0,0.82,0.55,1.42,Sakura,iNCO,07.06.2023
4,HzN,Pronyx,11,1,2,5.5,0.80,1.10,1.96,Sakura,E8,09.06.2023
5,HzN,Nekr0,10,2,2,5.0,0.80,1.00,1.88,Province,E8,09.06.2023

In [11]:
p1 = p.loc[p['Tournament'] == 'Major2023', :].sort_values('kpr', ascending = False).reset_index(drop = True)[0:5]
p1.index = p1.index + 1
p1 = p1.loc[:, ['Team', 'Nick', 'K', 'A', 'D', 'K/d', 'svr', 'kpr', 'Rating 2.0', 'Map', 'Against', 'Date']]
p1['svr'] = round(p1['svr'], 2)
p1['kpr'] = round(p1['kpr']*5, 2)
p1.rename(columns={'K/d': 'K/D', 'svr': 'SVR', 'kpr': 'KPR', 'Rating 2.0': 'Rating'}, inplace=True)

p1

,Team,Nick,K,A,D,K/D,SVR,KPR,Rating,Map,Against,Date
1,E8,deserve,17,0,6,2.83,0.45,1.55,2.00,Province,STR8,07.06.2023
2,RGG,Lunax,24,2,9,2.67,0.47,1.41,1.88,Sakura,DoG,10.06.2023
3,RGG,fRONZES,24,2,9,2.67,0.47,1.41,1.88,Province,DoG,10.06.2023
4,SN,SiD,18,3,5,3.60,0.62,1.38,2.04,Rust,iNCO,09.06.2023
5,RGG,Lunax,21,1,10,2.10,0.38,1.31,1.68,Province,iNCO,08.06.2023